Repository googleapis/java-speech, pull requests merged in 2021-12, with the labels that each got.

#737 docs(samples): refactors the export-to-gcs sample
  samples/.bash_profile
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/speech/ExportToStorageBeta.java
  samples/snippets/src/test/java/com/example/speech/ExportToStorageBetaTest.java
Labels: cla: yes, api: speech, samples

#752 chore: make owlbot check required
  .github/sync-repo-settings.yaml
  README.md
Labels: api: speech, automerge

#755 test: adding native image resource configuration file for test
  google-cloud-speech/src/test/resources/META-INF/native-image/resource-config.json
Labels: api: speech
